**/LICENSE
**/README.md
**/.gitignore
**/.git
.git/**/*
**/Dockerfile
**/.dockerignore
**/*.env
.github/**/*
.github/
temp/**/*
temp/
**/.DS_Store
**/.gitpod.Dockerfile
**/.gitpod.yml
**/__pycache__/
**/*.py[cod]
.zed/**/*
.zed/
.env*
.flaskenv*
!.env.project
!.env.vault
**/.mypy_cache
.mypy_cache/**/*
mypy.ini
.ruff_cache
.deepsource.toml
