google-generativeai==0.8.3
requests[socks]==2.32.3
yt-dlp[default]==2024.11.4
beautifulsoup4==4.12.3
pyTelegramBotAPI==4.23.0
replicate==1.0.3
SQLAlchemy==2.0.36
psycopg2-binary==2.9.10
telegramify_markdown==0.1.15
youtube-transcript-api==0.6.2
sentry-sdk==2.18.0
tenacity==8.5.0
trafilatura==1.12.2
seleniumbase==4.32.9
rush[redis]==2021.4.0
openai==1.54.4
coloredlogs==15.0.1
