name: "Release Tracking for Sentry"

on:
  push:
    branches:
      - main

jobs:
  push_release:
    runs-on: ubuntu-latest
    steps:
      - name: Sentry Release
        uses: getsentry/action-release@v1.7.0
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}

# jobs:
#   push_release:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Invoke deployment hook
#         uses: distributhor/workflow-webhook@v3
#         with:
#           url: ${{ secrets.SENTRY_WEBHOOK_URL }}
#           json: '{"version": "${{ github.sha }}"}'

# jobs:
#   push_release:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Invoke deployment hook
#         uses: indiesdev/curl@v1.1
#         with:
#           url: ${{ secrets.SENTRY_WEBHOOK_URL }}
#           method: "POST"
#           headers: '{ "Content-Type": "application/json" }'
#           body: '{"version": "${{ github.sha }}"}'
